body{
    background-color: #559bf3;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
   
    padding: 30px;
}
.main-container{

    background-color: #6cb2f5;
    width: 40%;
    margin: 0 auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 30px;

}

.main-container {
    transition: transform 0.2s ease-in-out; /* Adding smooth transition */
  }
  
  .main-container:hover {
    transform: translate(0, -5px); /* Move 5px up on hover */
  }

.input-container{
    background-color: #6cb2f5;
    width: 40%;
    margin: 0 auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 20px;
}

.user-input{
    background-color: #6cb2f5;
    width: 70%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #8fc0f7;
    color: #d4dee7;
    font-size: 18px;
}

.user-input::placeholder{
    color: #d4dee7;
    font-size: 16px;
    
}
.user-input:focus{
   outline: none;
}
.search-button{
    width: 20%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    color: #1f7ae9;
    font-size: 16px;
    font-weight: bold;
}



.icon-container{
    display: flex;
    align-items: center;
}

.weather-icon{
    width: 25%;
    margin: 0 auto;
}

.temperature,.condition,.location{
    color: #fafbfc;
    text-align: center;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 5px;
}
.condition{
    font-size: 20px;
    margin-top: 0px;
}
.location{
    margin-top: 40px;
    font-size: 18px;
}

.footer-container{
    display: flex;
    margin-top: 20px;
}
.left,.right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-top: 2px solid #8fc0f7;
    padding: 0px;
    
}

.left{
    border-right: 2px solid #8fc0f7;
}
.footer-container h3{
    color: #fafbfc;
    text-align: center;
    font-size: 25px;
    margin: 10px;

}

.footer-container span{
    font-size: 14px;
}

.footer-container i{
    color: #559bf3;
    font-size: 30px;
    color: #fafbfc;
    margin-right: 5px;
}

.error-container{
    padding: 20px;
}
.error-message{
    color: white;
    text-align: center;
    
}



  @media screen and (max-width: 968px) {
    .main-container,.input-container{
     width: 55%;
    }
   
   }

   @media screen and (max-width: 768px) {
    .main-container,.input-container{
        width: 70%;
       }

    .footer-container i{
        font-size: 20px;
    }
    .footer-container h3{
        font-size: 18px;
    }
    .footer-container span{
        font-size: 12px;
    }
    .search-button{
       width: 30%;
    }
    .user-input{
        width: 60%;
    }
   }


   @media screen and (max-width: 468px) {
    .main-container,.input-container{
        width: 90%;
       }

   
   }